# App Configuration Files
.texpadtmp\
.vscode

# macOS-specific files
.DS_Store

# Matlab temp files
*.asv
*.mat

# LaTeX build files (taken from https://gist.github.com/kogakure/149016)
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.ps
*.fls
*.fdb_latexmk
*.pdf

# Project-specific files
ausarbeitung-encoding-backup.*