# App Configuration Files
.texpadtmp
.vscode

# macOS-specific files
.DS_Store

# Matlab temp files
*.asv
*.mat
*.m~
matlab/mainczjs/config.mat

# Matlab binary files (will keep them as long as they are small)
# *.mexmaci64

# LaTeX build files (taken from https://gist.github.com/kogakure/149016)
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.ps
*.fls
*.fdb_latexmk

# LyX source files
*.lyx

# BibTeX Temp Files
*.bib.bak
*.bib.sav

# Project-specific files
ausarbeitung-encoding-backup.*

# Other
*.pdf
