# App Configuration Files
.vscode

# macOS-specific files
.DS_Store

# Matlab temp files
*.asv
*.mat
*.m~
matlab/mainczjs/config*.mat

# Matlab binary files (will keep them as long as they are small)
# *.mexmaci64

# Other
#*.pdf
/testing/
/lntscripts/.ssh/

# Evaluation Results
matlab/mainczjs/evaluation/results
#matlab/mainczjs/evaluation/schwartz2014
matlab/mainczjs/evaluation/**/*.txt
matlab/mainczjs/evaluation/**/*.tex
**.png
outline
**.fig

# Jupyter Notebook temp
*checkpoint.ipynb
python/.ipynb_checkpoints

# matlab figures output
#*.eps
#*tikz.tex
#*fig.fig

# Python files
__pycache__/

# Ulysses files
*.Ulysses*
